$main-color: #25aae2;
@mixin flex-box($justify-content:nil,$flex-direction:nil,$align-items:nil) {
  display: flex;
  @if $justify-content != nil {justify-content: $justify-content;}
  @if $flex-direction != nil {flex-direction: $flex-direction;}
  @if $align-items != nil {align-items: $align-items;}
}
@mixin button($hover,$focus:$hover){
    transition: all .5s;
        &:focus {
            background: $focus;
        }
        &:hover,&:active {
            background: $hover;
            color: #fff;
            transition: all .5s;
        }
}

.top-area {
    @include flex-box(center, column, center);
    transition: all .5s;
    h1 {
     font-size: 7vh;
     font-weight: 700;
     text-align: center;
     color: $main-color;
    }
    .search-area {
        @include flex-box();
        font-size: 16px;
        margin: 0 0 5px 0;
        input[type="text"] {
            border-radius: 5px;
            box-sizing: border-box; 
            padding: 0 0 0 5px;
            &::-webkit-input-placeholder {
                color: #0084B4;
            }
            &:focus {
                &::-webkit-input-placeholder {
                    color: #8899a6;
                }
            }
        }
        button {
            @include button($main-color)
            background: $main-color;
            margin: 0 0 0 10px;
            color: #fff;
            border-radius: 5px;
            border: 1px $main-color solid;
            text-transform: uppercase;
            &:hover {
                opacity: 0.8;
                border: 1px $main-color solid;
            }
        }
    }
}

.search {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.searched {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 10;
}

.search.fade-out {
    opacity: 0;
}

.tweets {
    @include flex-box(nil,column);
    margin: 170px auto 60px auto;
    .card {
        padding: 0;
        &:hover {
            background: #f5f8fa;
        }
        .card-title img {
            width: 30px;
            border-radius: 15px;
        }
        img {
            width: 100%;
        }
    }
    button {
        @include button(#f25b2c,#fff);
    }
}

.back-to-top {
    @include button(#f25b2c,#fff);
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    &:hover {
        &:after {
            content: "Back to Top"
        }
    }
}